@page "{courseName}/{courseNumber}"
@model Coding_Coalition_Project.Pages.Course.CourseModel
@{
    ViewData["Title"] = "Course";
    Layout = "~/Pages/Shared/_Navbar.cshtml";
}
<h1>Course</h1>
<h2>@Model.CourseName - @Model.CourseNumber - @Model.CourseID</h2>
<body>
    <a href="../../../ViewAssignments/ViewAssignments">Assignments</a>
    @if (Model.GetIsInstructor() == 1)
    {
        <li><a href="../../../AddAssignments/AddAssignments">Add Assignment</a></li>
    }

</body>

