
Coding_Coalition_Project_Final/obj/project.nuget.cache
Coding_Coalition_Project_Final/obj/project.assets.json
Coding_Coalition_Project_Final/obj/Coding_Coalition_Project.csproj.nuget.dgspec.json
Coding_Coalition_Project_Final/obj/Coding_Coalition_Project.csproj.nuget.dgspec.json
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.assets.cache
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.csprojAssemblyReference.cache
Coding_Coalition_Project_Final/obj/project.assets.json
Coding_Coalition_Project_Final/obj/project.nuget.cache
