

Coding_Coalition_Project_Final/obj/project.nuget.cache
Coding_Coalition_Project_Final/obj/project.assets.json
Coding_Coalition_Project_Final/obj/Coding_Coalition_Project.csproj.nuget.dgspec.json
Coding_Coalition_Project_Final/obj/Coding_Coalition_Project.csproj.nuget.dgspec.json
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.assets.cache
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.csprojAssemblyReference.cache
Coding_Coalition_Project_Final/obj/project.assets.json
Coding_Coalition_Project_Final/obj/project.nuget.cache
Coding_Coalition_Project_Final/.vs/Coding_Coalition_Project/DesignTimeBuild/.dtbcache.v2
Coding_Coalition_Project_Final/.vs/Coding_Coalition_Project/v16/.suo
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/Coding_Coalition_Project.deps.json
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/Coding_Coalition_Project.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/Coding_Coalition_Project.exe
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/Coding_Coalition_Project.pdb
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/Coding_Coalition_Project.runtimeconfig.dev.json
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/Coding_Coalition_Project.Views.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/Coding_Coalition_Project.Views.pdb
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/DHTMLX.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/Microsoft.Web.Infrastructure.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/System.Web.Helpers.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/System.Web.Mvc.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/System.Web.Razor.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/System.Web.WebPages.Deployment.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/System.Web.WebPages.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/System.Web.WebPages.Razor.dll
Coding_Coalition_Project_Final/Coding_Coalition_Project.csproj.user
Coding_Coalition_Project_Final/obj/Coding_Coalition_Project.csproj.nuget.dgspec.json
Coding_Coalition_Project_Final/obj/Coding_Coalition_Project.csproj.nuget.g.props
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.assets.cache
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.csproj.CoreCompileInputs.cache
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.csproj.FileListAbsolute.txt
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.csprojAssemblyReference.cache
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.dll
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.exe
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.pdb
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.RazorCoreGenerate.cache
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.Views.dll
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.Views.pdb
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/AddAnnouncements/AddAnnouncements.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/AddAssignmentCodes/AddAssignmentCodes.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/AddAssignments/AddAssignments.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/AddClass/AddClass.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/AddCourseSubject/AddCourseSubject.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/AddUserJunctionCourses/AddUserJunctionCourses.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Calender/Calender.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Course/Course.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/MainPage/MainPage.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Profile/Profile.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Profile/ProfileEdit.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Navbar.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/SignIn/signin.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Signup/SignUp.cshtml.g.cs
Coding_Coalition_Project_Final/obj/project.assets.json
Coding_Coalition_Project_Final/obj/project.nuget.cache