
Coding_Coalition_Project_Final/obj/project.nuget.cache
Coding_Coalition_Project_Final/obj/project.assets.json
Coding_Coalition_Project_Final/obj/Coding_Coalition_Project.csproj.nuget.dgspec.json
Coding_Coalition_Project_Final/obj/Coding_Coalition_Project.csproj.nuget.dgspec.json
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.assets.cache
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Coding_Coalition_Project.csprojAssemblyReference.cache
Coding_Coalition_Project_Final/obj/project.assets.json
Coding_Coalition_Project_Final/obj/project.nuget.cache
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/DHTMLX.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/Microsoft.Web.Infrastructure.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/System.Web.Helpers.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/System.Web.Mvc.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/System.Web.Razor.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/System.Web.WebPages.Deployment.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/System.Web.WebPages.dll
Coding_Coalition_Project_Final/bin/Debug/netcoreapp3.1/System.Web.WebPages.Razor.dll
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Calender/Calender.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Course/Course.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Profile/Profile.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Profile/ProfileEdit.cshtml.g.cs
Coding_Coalition_Project_Final/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Navbar.cshtml.g.cs
