@page
@model Coding_Coalition_Project.Pages.SignIn.SignInModel

@{
    ViewData["Title"] = "SignIn";
}

<h1>SignIn</h1>


<form>
    <p>
        <pre>Email:&Tab;&Tab;<input type="text" asp-for="UserEmail" /><br /></pre>

        <pre>Password:&Tab;<input type="password" asp-for="UserPassword" /></pre>
        <div runat="server" id="NoUser" style="display:none">Information is Incorrect<br /></div>
        <input type="submit" value="Log in" />



    </p>

</form>