@page 
@model Coding_Coalition_Project.Pages.Calender.Calender
@{
    Layout = "~/Pages/Shared/_Navbar.cshtml";

}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <link href='~/css/main.css' rel='stylesheet' />
    <script src='~/js/main.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                events: [
                        @{ var lastItem = Model.events.Last(); }
                        @foreach (var item in Model.events) {
                        @:{
                                @: title: ('@item.Name.ToString()'),
                                @: start: ('@item.StartDate.ToString("yyyy-MM-ddTHH\\:mm\\:ss")'),
                        @:}

                        if (item != lastItem) {
                            @:,
                        }
                        else
                        {
                            @:
                        }
                    }
                ]
            });



            calendar.render();
        });

    </script>
</head>
<body>
    <div id='calendar'></div>
</body>
</html>