@page
@model Coding_Coalition_Project.Pages.UserCourses.UserCoursesModel

@{
    ViewData["Title"] = "UserCourses";
    Layout = "~/Pages/Shared/_Navbar.cshtml";
}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <style>
            /* Remove the navbar's default margin-bottom and rounded borders */

            * {
                box-sizing: border-box;
            }

            body {
                font-family: Arial, Helvetica, sans-serif;
            }
            /* Float four columns side by side */
            .column {
                float: left;
                width: 30%;
                padding: 0 10px;
            }
            /* Remove extra left and right margins, due to padding in columns */
            .row {
                margin: 0 -5px;
            }
                /* Clear floats after the columns */
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }

            .courses {
                width: 60%;
                position: absolute;
                top: 200px;
                left: 400px;
            }
            /* Style the cards */
            .classCard {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
                padding: 22px;
                text-align: center;
                background-color: #a9bcdb;
            }

            .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
                padding: 16px;
                text-align: center;
                background-color: #d2d4d6;
            }

        </style>
    </head>
<h1>UserCourses</h1>


<div class="col-sm-8 text-center">

    @foreach (var row in Model.Courses)
    {
        <div class="column">
            <a href="../Course/Course/@row.CourseName/@row.CourseNumber" @RouteData.Values[@row.CourseName] @RouteData.Values[@row.CourseNumber.ToString()]>

                <div class="classCard">
                    @row.CourseName<br>@row.CourseNumber
                </div>
            </a>
        </div>
    }

</div>

